// Colors
$color-primary: #8078c0;
$color-primary-light: #a493ee;
$color-primary-dark: #cc5f57;

$color-secondary-light: #f0be34;
$color-secondary-dark: #f07034;

$color-third-light: #3470f0;
$color-third-dark: #255296;

$color-four-light: #4ada7a;
$color-four-dark: #17b358;

$color-white: #fff;
$color-black: #000;

$color-gray-light: #eee;
$color-gray-dark: #777;
$color-gray-dark-2: #444;
$color-gray-dark-3: #333;
